@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-primary-color: #ceb18d;
    --light-secondary-color:#e8d5c4;
    --light-heading-color: #8a74ac;
    --dark-primary-color: #19202e;
    --dark-heading-color: #ff014d;
    --dark-secondary-color: #cccecf;
  }
